@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&family=Nunito:wght@300&display=swap');


body {
  font-family: Arial;
  font-size: 17px;

}



#cname,#ccnum,#expmonth,#expyear,#cvv,#crd-type,#pindex{
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 50%;
}


label {
  text-align: left;
  margin-bottom: 10px;
  display: block;
}


.icon-container{
  font-size: 30px;
  padding-bottom: 10px;
}


#checker {
  background-color: #eda405;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

#checker:hover {
  background-color: #8f9c90;
}

h3{
  font-size: 35px;
}






